.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: 3px solid rgba(120, 120, 120, 0.374);
  padding: 0.3rem 1rem;
  width: 100%;
  gap: 1rem;
}

.search-bar > input {
  outline: none;
  border: none;
  font: inherit;
}

@media (max-width: 768px) {
  .search-bar > input {
    width: 100%;
    font-size: 0.8rem;
  }

  .search-bar > button {
    padding: 0.4rem 1rem;
  }
}
