.container {
  height: 100vh;
  background-color: var(--black);
  overflow-x: clip;
  position: relative;
  z-index: 1;
}

.white-blur {
  width: 20rem;
  height: 20rem;
  background: rgba(255, 255, 255, 0.5);
  filter: blur(100px);
  position: absolute;
  border-radius: 100%;
  z-index: -1;
}
